body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board {

    width: 300px;
    height: 200px;
    background-color: #d6d6d6;

    display: flex;
    flex-wrap: wrap;
}

.square-position {
    width: 10px;
    height: 10px;

    background-color: #bbb;
}

.snake-part {
    border-radius: 2px;
    background-color: red;
}

.head {
    background-color: rgb(172, 19, 19);
}

.ball {
    background-color: green;
    border-radius: 10px;
    scale: 1.2;
}

.control {
    background-color: white;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;

    justify-content: space-evenly;

}

.arrows {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.arrows>div {
    display: flex;
    gap: 15px;
}

.arrows button {
    padding: 5px;
    border-radius: 25px;
    height: 50px;
    width: 50px;
}

#toggle {
    height: 60px;
}